.company-bar {
  padding: 50px 0;

  &__tagline {
    margin-bottom: 50px;
    //flex: 0 0 200px;
  }

  &__logos {
    display: flex;
  }

  &__logo {
    margin-right: 30px;
    //height: 20px;
  }
}
