.company-bar {
  margin-top: -20px;
  padding: 10px 0;
  @include media-breakpoint-down(md) {
    //    margin-top: 300px;
  }

  &__tagline {
    margin-bottom: 20px;
    //flex: 0 0 200px;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    margin-right: 30px;
    //height: 20px;
  }
}
