.c-double-text-box {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  &__left, &__right {
    width: 40%;
  }

  &__seperator {
    width: 1px;
    background-color: $gray-3;
  }

  &__right {
  }
}
