.c-double-text-box {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  &__left,
  &__right {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    width: 40%;
  }

  &__seperator {
    width: 1px;
    background-color: $gray-3;
  }

  &__right {
  }
}
