.headroom--pinned {
  background-color: $white-color;
}
.headroom--unpinned {
  transition: none !important;
}
.header {
  @include media-breakpoint-down(md) {
    padding: 0;
    padding-bottom: 20px;
  }
  &--index {
    height: 600px;
    background: no-repeat top right url('../static/index.header.svg');
  }

  &--tech-hiring {
    height: 600px;
    background: no-repeat top right url('../static/tech-hiring.header.svg');
  }

  &__wrapper {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  &__controls {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      //justify-content: space-evenly;
    }
  }

  &__introduction {
    box-sizing: border-box;
  }

  &__link-list {
    float: right;
    margin: 0 auto;
    margin-right: 8px;
    padding: 0;
    display: flex;
    list-style-type: none;
    @include media-breakpoint-down(md) {
      position: absolute;
      width: 120px;
      background-color: $white-color;
      top: 10px;
      flex-direction: column;
      padding-bottom: 20px;
    }
  }

  &__link-item {
    font-size: $fs-1;
    color: $text-color;
    padding: 5px 18px;
    font-weight: 600;

    &--active {
      color: $gray-5 !important;
    }

    &--button {
      color: $white-color !important;
    }
  }

  &__logo-link {
    @include media-breakpoint-down(md) {
      order: 1;
    }
  }

  &__logo {
    height: 35px;
  }

  &__nav {
    flex: 2 1 auto;
    position: relative;
    &--hide > ul {
      display: none;
    }
    @include media-breakpoint-down(md) {
      flex: none;
      order: -1;
    }
    &:after {
      @include media-breakpoint-down(md) {
        content: '≡';
        font-weight: 600;
        font-size: $fs-4;
      }
    }
  }
}

.c-headroom {
  @include media-breakpoint-down(md) {
    width: 100%;
    margin: 0;
    background-color: $white-color;
  }
}
