.c-opensource-wall {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 180px;
  padding-top: 50px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    justify-content: space-between;
  }
}
