.text-box {

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__headline {
    &--small {
      margin: 46px 0 10px 0;
      font-size: $fs-2;
    }
  }

  &__link {
    font-weight: 600;
    text-decoration: none;
    color: $blue-2;
  }

  &__arrow {
    margin-left: 5px;
  }
  &__image {
    height: 60px;
  }
}
