.text-box {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__headline {
    &--small {
      margin: 46px 0 10px 0;
      font-size: $fs-2;
    }

    &--medium {
      font-size: $fs-4;
    }
  }

  &__link {
    font-weight: 600;
    text-decoration: none;
    color: $blue-2;
    margin-right: 10px;
  }

  &__arrow {
    margin-left: 5px;
  }
  &__image {
    margin-right: 30px;
    margin-bottom: 10px;
    //height: 60px;
  }
}
