.text-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &__image > img {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    //width: 50%;
    //flex: 1 1 auto;
  }

  &__text {
    width: 380px;
  }

  &--image-right {
    flex-direction: row-reverse;
  }
}
