a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.wrapper {
  margin-bottom: 50px;
  padding-top: 50px;
}

.content {
  margin: 0 80px;
}

.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.bg-stripes {
  background: no-repeat center center url('../static/advisors-bg.png');
}

.bg-stripes-os {
  background: no-repeat center center url('../static/opensource-bg.png');
  @include media-breakpoint-down(sm) {
    background: no-repeat center center url('../static/bg-stripes@2x.png');
    background-size: 1500px auto;
  }
}

.text-link {
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }

  &--arrow::after {
    content: url('../static/arrow_blue.svg');
    margin-left: 5px;
  }

  &--blue,
  &--blue:hover {
    color: $blue-2;
  }
}
