a{
  &:hover {
    text-decoration: none;
    color: none;
  }
}
.wrapper {
  margin-bottom: 100px;
  padding-top: 100px;
}

.content {
  margin: 0 80px;
}

.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}
